---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'
import MemberCard from '@/components/MemberCard.astro'

import { MetaData } from '@/data/siteConfig'
import type { MemeberType } from '@/types'

import HeroImage from '@/content/images/hero-bg.png'
import CollaborationIllustration from '@/content/images/collaboration.svg'

const response = await fetch(`${Astro.url.origin}/api/get-members.json`)

const members = (await response.json()).filter(
  (member: { role: string }) => member.role
) as MemeberType[]
---

<BaseLayout title={`A propos - ${MetaData.title}`}>
  <div class="relative flex h-[250px] items-center justify-center md:h-[350px]">
    <h2
      class="absolute z-10 mt-10 text-center text-healding-2 font-semibold uppercase text-white">
      Qui sommes-nous ?
    </h2>

    <Image
      src={HeroImage}
      alt="PossaCode"
      class="h-full w-full object-cover"
      loading="eager"
    />

    <div class="absolute h-full w-full bg-black/60"></div>
  </div>

  <div class="w-full bg-[#FFDCD3] py-20">
    <div class="container">
      <p class="max-w-4xl text-slate-950 md:text-xl">
        « Le programme accroît la moyenne scolaire. Les élèves sont plus
        disciplinés dans leur travail scolaire, plus dynamiques et enthousiastes
        vis-à-vis de l’acquisition de connaissances nouvelles, et moins
        impulsifs. Il y a un impact positif du programme sur les aspirations des
        élèves, à la fois en matière d’études et de profession. »*
      </p>
    </div>
  </div>

  <div class="container space-y-20 py-20">
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
      <div class="space-y-6">
        <h2 class="text-healding-2 font-semibold uppercase">Notre mission</h2>
        <p class="lg:max-w-4xl">
          Notre combat, c’est la lutte pour l’égalité des chances par des
          actions de prévention du décrochage scolaire. Notre but est de
          permettre à tous les élèves d’aimer apprendre. Nous déployons des
          programmes pédagogiques très innovants, qui sont coanimés dans la
          salle de classe par un binôme de volontaires Énergie.
        </p>

        <p class="lg:max-w-4xl">
          Nous intervenons chaque année auprès de 120 000 élèves du CM2 à la
          3e , dans les territoires les moins favorisés mais aussi de plus en
          plus dans des territoires ruraux, partout où l’orientation des jeunes
          est contrainte par manque d’information, de soutien familial ou de
          modèles inspirants.
        </p>
      </div>

      <div class="hidden lg:block">
        <Image
          src={CollaborationIllustration}
          alt="Collaboration"
          class="ml-auto block w-2/3"
          loading="eager"
          quality="high"
        />
      </div>
    </div>

    <div class="space-y-10">
      <div class="space-y-6">
        <h2 class="text-healding-2 font-semibold uppercase">Notre equipe</h2>
        <p class="lg:max-w-4xl">
          Nous intervenons chaque année auprès de 120 000 élèves du CM2 à la
          3e , dans les territoires les moins favorisés mais aussi de plus en
          plus dans des territoires ruraux, partout où l’orientation des jeunes
          est contrainte par manque d’information, de soutien familial ou de
          modèles inspirants.
        </p>
      </div>

      <ul
        role="list"
        class="flex snap-x snap-mandatory gap-x-8 overflow-auto py-4">
        {
          members.map((member: any) => (
            <li class="flex-[0_0_260px] snap-center snap-always">
              <MemberCard member={member} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
