---
import { LucideGithub, LucideLinkedin, Mail } from 'lucide-react'

const { member } = Astro.props
---

<div class="flex w-full flex-col items-center space-y-4">
  <img
    src={member.image_url}
    alt={member.first_name}
    class="aspect-square size-36 rounded-full object-cover ring ring-orange ring-offset-4 ring-offset-white dark:ring-offset-slate-950"
    loading="eager"
    width={200}
    height={200}
  />
  <div class="text-center">
    <p class="font-semibold">
      {member.first_name}
      {member.last_name}
    </p>
    <p>{member.role}</p>
    <p class="text-sm">{member.profession}</p>
  </div>

  <di class="flex items-center space-x-4">
    <a href={member.linkedin_url}>
      <LucideLinkedin size={20} />
    </a>
    {
      member.github_url && (
        <a href={member.github_url}>
          <LucideGithub size={20} />
        </a>
      )
    }
    <a href={`mailto:${member.email}`}>
      <Mail size={20} />
    </a>
  </di>
</div>
